<section
  class="intro__phone-options"
  data-phone-options-box
  aria-label="Phone options"
>
  <p class="intro__phone-options-title">Choose your witness</p>
  <button
    class="intro__phone-option"
    type="button"
    data-phone-option="leya-fiore"
  >
    Leya Fiore
  </button>
  <button class="intro__phone-option" type="button" disabled>
    ?????????
  </button>
  <button class="intro__phone-option" type="button" disabled>
    ?????????
  </button>
  <button class="intro__phone-option" type="button" disabled>
    ?????????
  </button>
</section>
